<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <div class="d-flex justify-content-center mt-3 mb-3"><button class="btn btn-dark">Supprimer ce commentaire</button></div>
</form>