<form method="post" action="{{ path('program_delete', {'id': program.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <div class="d-flex justify-content-center mt-3 mb-3"><button class="btn btn-dark">Supprimer cette série</button></div>
</form>