@import "~bootstrap/scss/bootstrap";

$theme-colors: (
  "light": white,
  "dark": black,
);

$dark: black;
$light: white;

body {
  background-color: $dark;
  color: $light;
  font-family: "Lato", sans-serif;
}

.search a {
  color: $dark;
}
