@import "~bootstrap/scss/bootstrap";

$theme-colors: (
  "light": white,
  "dark": black,
);

$dark: black;
$light: white;

body {
  background-color: $dark;
  color: $light;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

.header {
  display: inline-block;
  position: relative;
}

.header img {
  overflow: hidden;
  max-width: 100%;
}

.textheader {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  position: absolute;
  top: 30%;
  width: 60%;
  left: 20%;
}

.search a {
  color: $dark;
}

.footer p {
  color: $dark;
}

.card {
  color: $dark;
}

.card-group {
  color: $dark;
}

.card-body {
  color: $dark;
}

.card-footer {
  color: $dark;
}

.cardblack {
  background-color: $dark;
}

a:hover {
  font-weight: bolder;
}

.connexion a {
  color: $dark;
}

#talkbubble {
  background: white;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 20px;
  padding-top: 2vw;
}

#talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  border-top: 13px solid transparent;
  border-right: 26px solid white;
  border-bottom: 13px solid transparent;
}
